<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container">
      <nav class="navbar navbar-expand-sm bg-info navbar-dark">
          <ul class="navbar-nav">
            <li>
    <a  routerLink='/user-list' routerLinkActive="nav-item active">Users List</a>
    </li>
    <li>
    <a routerLink='/user-add' routerLinkActive="active-link">Add User</a>
    </li>
    </ul>
    </nav>
    <router-outlet></router-outlet>
  </div>
  </div>
